
* {
    
    margin: 0;
    padding: 0;
    outline: 0;

    
    
  }

  .back{
    background-color: #25765F;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    
   
    
   
  }

  .headerapp{
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1em;
  }
  .menu-Selec{
    background-color: #25765F;
    text-align: center;
    align-items: center;
    display: flex;
  }
  @media(max-width: 460px){
    .menu-Selec{
      background-color: #25765F;
      text-align: center;
      align-items: center;
     flex-direction: column;
    }
  }

/*

  @media( max-width: 1280px ){
    .headerapp{
      
        min-height: 125vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 1em;
    }
}
@media( max-width: 412px ){
    .headerapp{
      
        min-height: 193vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 1em;
    }
}


*/

/***********/
.Basic{
    /*card */
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    border: 1px solid #000;
    /*card */
}
.Basic img {
  max-width: 94%;
  max-height: 94%;
    object-fit: cover;
}



.Inter{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  border: 1px solid #000;
}
.Inter img {
  max-width: 96%;
  max-height: 96%;
  object-fit: cover;
}

.Hard{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  border: 1px solid #000;
}
.Hard img {
  max-width: 110%;
  max-height: 110%;
  object-fit: cover;
}
@media(  max-width: 1280px ){
  .Hard img{
    max-width: 80%;
    max-height: 100%;
  }
  .back{
    padding: 4px;
  }
  .headerapp{
    margin-top: 40px;
  }
}


.ButtonN{
  background-color: #F50057;
  display: inline-table;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 8px 32px 0px;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 20px;
  transition: all 150ms linear 0s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.26);
  
}
.ButtonN:hover{
  background-color: #b3013f;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}